body {
    background-color: #F2F2F2;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: black;
}

a:hover {
    color: #F20C1F;
    text-decoration: none;
}

#container {
    background-color: #B3E0F2;
    width: 50%;
    margin: 20px auto;
    border: 8px solid #5080BF;
    padding: 20px;
    border-radius: 20px;
}

header {
    text-align: center;
    padding: 20px;
    border: 5px solid #0AA65D;
    border-radius: 20px;
    background-color: aliceblue;
}

header h1 {
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 2px #F20C1F;
}

nav {
    text-align: center;
    background-color: #B3E0F2;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    background-color:  aliceblue;
    border: 4px solid #0AA65D;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    text-decoration: none;
}

nav li a:hover {
    color: #F20C1F;
    background-color: #5080BF;
}

main h2 {
    text-align: center;
    color: black;
}

.multi_col {
    display: flex;
}

section, aside {
    background-color: aliceblue;
    border-radius: 20px;
    border: 4px solid #0AA65D;
    margin: 20px;
    padding: 20px;
}

section {
    width: 75%;
}

aside {
    width: 25%;
}

section img {
    border-radius: 10px;
    border: 2px solid black;
    width: 75%;
    box-shadow: 2px 2px 5px #5080BF;
}

footer {
    padding: 40px;
    text-align: center;
}

.img_style {
    width: 75%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #5080BF;
    margin-top: 20px;
    margin-bottom: 20px;

}

hr {
    border: 1px solid  #0AA65D;
}

main h3 {
    text-align: center;
}

main ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

main h2 {
    text-shadow: 1px 1px 1px #F20C1F;
}
main h3 {
    text-shadow: 1px 1px 1px #F20C1F;
}

ul img {
    border: 2px black;
}

aside img {
    border: 2px solid #000; 
    border-radius: 10px;   
    padding: 2px;   
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px #5080BF;
}

aside li {
    font-size: 20px;
    font-weight: bold;
}

.multi_bar {
    display: flex;
}